.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.top-nav {
  background-color: #333;
  overflow: hidden;
}

.top-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.top-nav li {
  display: inline;
}

.top-nav a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.top-nav a:hover {
  background-color: #ddd;
  color: black;
}
.pie-chart-container {
  text-align: center;
}

.centered-pie-chart {
  display: inline-block;
}

.chart-buttons {
  display: flex;
  margin-bottom: 10px;
}

.chart-buttons button {
  background-color: #f0f0f0;
  color: #333;
  margin-right: 5px;
  padding: 8px 12px;
  border: none;
  cursor: pointer;
}

.chart-buttons button.active {
  background-color: #333;
  color: #fff;
}
.pie-chart-container {
  margin: 20px;
}

.pie-chart-row {
  display: flex;
  gap: 20px;
}

.centered-pie-chart {
  flex: 1;
  max-width: 300px;
}

.manufacturer-name {
  font-weight: bold;
}
.top-nav li.active {
  background-color: #1b1717;
  color: #333;
}
